{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <p>
        Zut ! Une erreur a été rencontrée. 
         <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>.
    </p>
{% endblock %}